/*=============================================================================
All CSS codes go below.
Author: Pranav Sodhani.
===============================================================================*/

/*=============================================================================
   Styling links
=============================================================================== */

a:link {
    color: #2E9AFE;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: blue;
}
img{

}

/*============================================================================
	Standard elements styled below
==============================================================================*/

html, body{
      position: relative;
			background-color: #FFFFFF;*/
      width:100%;
			font-family:'Times';
      overflow-x:hidden;
      /*font-family:'Monda', sans-serif; */
      color: #424242; 
      /*font-weight: 100; */
      font-size: 1em; 

		}
h1{ 
font-size: 3em; 
color: black; 
font-weight: 400; 
text-transform: uppercase; 
letter-spacing: 2px; 
margin-bottom: 30px; 
font-family: 'Stardos Stencil', cursive;
}
p{ 
font-family:'Monda', sans-serif; 
color: #424242; 
font-weight: 100; 
font-size: 1.0em; 
margin: 30px 0;
}

/*============================================================================
All classes defined below.
.Rectangular boxes are available in 3 colors: red, blue and light blue.
.r stands for rounded cornered boxes.
.rounded boxes available in 3 colors: red, grey and light blue.
.button used for menus in navigation bar.
===============================================================================*/

.grey{
font-size: 18px;
font-family: arial, sans-serif;
padding: 9px;
background:#2E2E2E;
margin:3 auto;
color:#fff;
}
.red{
font-size: 18px;
font-family: arial, sans-serif;
padding: 9px;
background:#C53727;
margin:3 auto;
color:#fff;
}
.rred{
border-radius: 5px;
/*font-size: 14px;*/
/*font-family: arial, sans-serif;*/
padding: 7px;
background:#C53727;
margin:3 auto;
color:#fff;
}

.rgrey{
border-radius: 5px;
/*font-size: 14px;*/
/*font-family: arial, sans-serif;*/
padding: 7px;
background:#2E2E2E;
margin:3 auto;
color:#fff;
}
.rectgrey{
border-radius: 2px;
padding:5px;
background-color:#F2F2F2;
margin-left:20px;
width:95%;
}
.rectblue{
border-radius: 2px;
color:white;
padding:5px;
background-color:#2E9AFE;
margin-left:20px;
width:95%;
}

.rectred{
border-radius: 2px;
color:white;
padding:5px;
background-color:#B40404;
margin-left:20px;
width:95%;}

/*==============================================================================
Classes for page wrapping and sectioning to allot content area.
================================================================================*/

#wrapme{
width:100%;
height:85%;}
.part{
font-family:'Monda',arial;
font-size:15px;
border:none;
float:left;
margin-left:5%;
width:37%;
height:70%;
}

.footer1{
  position:fixed;
  z-index:1;
  background: #C7CCCA; /*#f2f2f2; /*#4CAF50;#97F7CE;*/
  color:green;
  text-align:center;
  font-family:'Garamond';
  font-size: 1em;
  bottom:0;
  width:100%;
  height: 15px;
  padding-left: 10px;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  margin-left: -1em;
}

/*==============================================================================
Navigation bar styling/formatting.
================================================================================*/

ul
{
float:left;
width:100%;
padding:0.5em;
margin: 0.5em;
list-style-type:none;
}
nav
{
border-radius: 4px;
background-color:#4CAF59;
color:#FFFFFF;
float:left;
text-decoration:none;
text-align: center;
padding:0.5em 1.5em;
margin:0em 1.5em 0em 0em;
}
nav:hover {
border-radius: 4px;
color:white;
padding:0.5em 1.5em;
margin:0em 1.5em 0em 0em;
background-color:#2E9AFE;}
li {display:inline;}		

navi
{
border-radius: 4px;
background-color:#2E9AFE;
color:white;
float:left;
/*width:10.5em;*/
text-decoration:none;
text-align: center;
padding:0.5em 1.5em;
margin:0em 1.5em 0em 0em;
}

.content{
  border-radius: 2px;
  background-color:#f2f2f2;
  padding:20px;
  margin-top: 20px;
}
.content_main{
  position: sticky;
  border-radius: 2px;
  background-color:#f2f2f2;
  padding:20px;
  width: 85%;
  height:auto;
  min-height:350px;
  margin-top: 180px;
  margin-left: 45px;
  margin-right: 40px;
}

/*================================================================================
End of CSS code.
Author: Pranav Sodhani
==================================================================================*/
